:root
{
  --main-color:#f67c0a;
  --main-background:#fff;
  --button-background:#0e8d44;
  --button-color:#fff;
  --main-border:1px solid #f67c0a;
  --main-text-color:#333;
}

body
{
  background-color:var(--main-background);
  color: var(--main-text-color);
}



a {text-decoration:none;}

input, button,.button, .inputBox {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  box-sizing:border-box !important;
}

@media only screen and (max-width:576px)
{
  input, button,.button, .inputBox 
  {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  box-sizing:border-box !important;
  }
}
.shadow {box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);}	
