:root
{
  --main-color:#f67c0a;
  --main-background:#fff;
  --button-background:#0e8d44;
  --button-color:#fff;
  --main-border:1px solid #f67c0a;
}

body
{
  background-color:var(--main-background);
  color: var(--main-color);
}

.menu__background
{
  background-color: var(--button-background);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu__button
{
  padding: 12px;
  color: white;
  text-align:center;
  vertical-align:middle;
}

.menu__button:hover
{
  color: var(--main-color);
  background: white;
}

a {text-decoration:none;}

input, button,.button, .inputBox {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  box-sizing:border-box !important;
}

@media only screen and (max-width:576px)
{
  input, button,.button, .inputBox 
  {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  box-sizing:border-box !important;
  }
}
