:root
{
  --main-color:#f67c0a;
  --main-background:#fff;
  --button-background:#0e8d44;
  --button-color:#fff;
  --main-border:1px solid #f67c0a;
}

body
{
  background-color:var(--main-background);
  color: var(--main-color);
}

.menu__button
{
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #f67c0a;
  background-color: #0e8d44;
  color: white;
  text-align:center;
  vertical-align:middle;
}

a {text-decoration:none;}

input, button,.button, .inputBox {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  box-sizing:border-box !important;
}
