.dongChiTiet
{
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  box-sizing:border-box !important;
  display:flex;
  flex-wrapt:nowrapt;
}
