.menu__background
{
  width:100%;
  padding:5px;
  background-color: var(--button-background);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu__button
{
  padding: 12px;
  color: white;
  text-align:center;
  vertical-align:middle;
}

.menu__button:hover
{
  color: var(--main-color);
  background: white;
}

menu__icon-menu:hover
{
  transform: scale(1.1);
}

@media only screen and (max-width:576px)
{
  .menu__button
  {
    padding:5px;
    font-size:14px;
  }

  .menu__mainButton_top
    {
        display: none !important;
    }
}

@media only screen and (min-width:577px)
{
  .menu__button
  {
    padding:8px;
    font-size:16px;
  }

  .menu__mainButton_top
    {
        display: flex !important;
    }
}

.menu__left
{
    position: fixed;
    top:50px;
    left:0px;
    transform: translateX(-100%);
    transition: 0.3s ease;
    width:100%;
    display: flex;
    background-color: var(--button-background);
    flex-direction: column;
    z-index: 1000;
    gap:20px;
}

.menu__left--active
{
    transform: translateX(0%);    
}

.menu__user
{
    position: fixed;
    top:50px;
    right:0px;
    width:200px;
    padding:10px;
    display: none;
    background-color: var(--button-background);
    flex-direction: column;
    z-index: 1000;
    gap:20px;
}