.menu__background
{
  width:100%;
  padding:5px;
  background-color: var(--button-background);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu__button
{
  padding: 12px;
  color: white;
  text-align:center;
  vertical-align:middle;
}

.menu__button:hover
{
  color: var(--main-color);
  background: white;
}

menu__icon-menu:hover
{
  transform: scale(1.1);
}